body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}
.calculator {
border : 7px solid black;
max-width: 400px;
}

button {
background-color : darkcyan;
width: 100px;
height: 80px;
border: 2px solid black;
border-radius: 10px;
font-size: 30px;
}

.operator, #equal {
    background-color: orange;
}

.display {
    border: 2px solid black;
    height: 120px;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-weight:bold;
    word-wrap: break-word;
    word-break: break-all;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;

}

#zero {
    flex-grow: 1;
}

.blue, #modulo {
    background-color: lightblue;
}

.current-display {
    font-size: 50px;
}

.previous-display {
    font-size: 25px;
}

 button:hover {
    background: white ;

}
